<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spellbook directory</title>
        <link rel="stylesheet" href="/style/spectre.css">
        <link rel="stylesheet" href="/style/spectre-icons.css">
        <link rel="stylesheet" href="/style/directory.css">
    </head>

    <body>
        <div id="directory">
            <script type="module" src="/js/directory.js"></script>
    </body>
</html>
