<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spellbook views</title>
        <link rel="stylesheet" href="/style/spectre.css">
        <link rel="stylesheet" href="/style/spectre-icons.css">
        <link rel="stylesheet" href="/style/popup.css">
    </head>

    <body>
        <h1>Spellbook views:</h1>
        <ul>
            <li><a href="background.html">Background</a></li>
            <li><a href="popup.html">Popup</a></li>
        </ul>
    </body>
</html>
