<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spellbook popup</title>
        <link rel="stylesheet" href="/style/spectre.css">
        <link rel="stylesheet" href="/style/spectre-icons.css">
        <link rel="stylesheet" href="/style/popup.css">
    </head>

    <body>
        <div id="popup" class="popup stripe-bg"></div>
        <script type="module" src="/js/popup.js"></script>
    </body>
</html>
