.menu {
    a.bookmark,
    a.category {
        .title {
            font-weight: 700;
        }
    }
}

.directory,
.saved-bookmarks {
    a.bookmark,
    a.category {
        display: block;
        margin-bottom: 5px;
        padding: 3px;
        border: 1px solid $border-color;
        border-radius: 2px;
        box-shadow: 3px 3px 4px -4px $border-color;
        background-color: $secondary-color;
        color: $primary-color-dark;
        text-decoration: none;

        .title {
            padding: 0.1rem 0.3rem 0;
            font-weight: bolder;

            .icon {
                margin-block: 4px;
            }
        }

        .label {
            display: block;
            margin-top: 0.2rem;
        }

        .title {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .info {
            padding: 0.3rem;
            padding-top: 0;
        }
    }
}

.bookmark {
    word-break: break-all;

    .url {
        font-weight: 400;
        font-size: 80%;
    }
}

.label.label-secondary {
    color: #d1e5ff;
    background-color: #5755d9;
}

.parents {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
