// Spectre overrides

@use 'sass:color';
@use './variables' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

small {
    font-size: 75%;
}

label {
    font-weight: 700;
    font-size: 0.65rem;
}

.card {
    .card-header,
    .card-body,
    .card-footer {
        padding: $card-padding;
        padding-bottom: 0;

        &:last-child {
            padding-bottom: $card-padding;
        }
    }
}

.card,
.tab {
    border: 0;
    margin: 0;
}

a:focus,
.btn:focus {
    box-shadow: 0 0 0 0.1rem $focus-color;
}

.btn:focus, .btn:hover {
    background: color.adjust($focus-color, $lightness: 32.5%);
}

.form-input {
    font-size: 0.75rem;
    text-overflow: ellipsis;

    &:focus {
        box-shadow: 0 0 0 0.1rem $focus-color;
    }
}

.menu .menu-item + .menu-item {
    margin-top: 0;
}

.menu .menu-item > a {
    &:focus,
    &:hover {
        color: $primary-color-dark;
        background: $secondary-color;
    }

    &:active,
    &.active {
        color: $primary-color-dark;
        background: $secondary-color;
    }
}

.tab {
    .tab-item {
        margin: 0;

        a {
            border-bottom: 0;
            border-top: 0.3rem solid transparent;
            background-color: $tab-active-color;
            border-top-color: $dark-color;
            text-align: left;
            padding-left: 0.75rem;
        }

        &.active a,
        a.active {
            background-color: $light-color;
            border-top-color: $primary-color-light;
        }

        a:focus {
            position: relative;
            z-index: 1;
        }

        a:hover {
            background-color: $secondary-color;
            border-top-color: $primary-color;
        }
    }
}
