// Variables

// Core colors
$primary-color: #5755d9;
$primary-color-dark: #24b;
$primary-color-light: #807fe233;
$secondary-color: #def0ff;

// Gray colors
$dark-color: #222627;
$light-color: #fff;
$gray-color: #567;

$border-color: #6af;
$bg-color: $secondary-color;

// Control colors
$success-color: #32b643;
$warning-color: #ffe757;
$error-color: #e83660;

// Other colors
$code-color: $primary-color;
$focus-color: #55b9d9b0;
$highlight-color: #ffe9b3;

// Other variables

$card-padding: .75rem;
